@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color: #ffd11a;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
input,
button,
textarea,
select {
  border: none;
  outline: none;
  background: transparent;
}
body {
  font-family: 'sora', 'sans-serif';
  font-size: 16px;
  line-height: 1.5;
}
a {
  transition: color 0.3s ease;
}
html,
body {
  scroll-behavior: smooth;
}
html {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

section {
  padding: 90px 0;
}

.swiper-pagination-bullet {
  background: $primary-color !important;
  width: 10px !important;
  height: 10px !important;
}
.about-swiper .swiper-pagination-bullet-active {
  background: $primary-color;
}

.about-swiper-card:hover > div img {
  transform: scale(1.1);
}

.three-d-effect-swiper {
  .swiper-slide:not(.swiper-slide-active) {
    filter: blur(3.5) !important;
  }
}

.full-width-slideshow {
  .card-each {
    &:hover img {
      transform: scale(1.03);
    }
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      bottom: 0;
      background-image: linear-gradient(rgba(255, 0, 0, 0) 60%, rgb(3, 3, 3));
    }
    .page-link-circle {
      opacity: 0;
      margin-bottom: -50px;
      transition: all 0.3s ease;
      &:hover {
        svg path {
          fill: black;
        }
      }
    }
    &:hover .page-link-circle {
      opacity: 1;
      margin-bottom: 0px;
      transform: translateY(0);
    }
  }
}
